<launch>

	<arg
		name="bond"
		value="" />

	<group ns="/stereo">

		<include file="$(find lrm_camera_drivers)/launch/bumblebee_nodelet_manager.launch" />

		<rosparam file="$(find lrm_camera_drivers)/params/cameras/bumblebee_60.yaml" />

		<node
			pkg="nodelet"
			type="nodelet"
			name="camera1394_nodelet"
			args="load camera1394/driver bumblebee_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true" />

		<node
			pkg="nodelet"
			type="nodelet"
			name="bumblebee_split_nodelet"
			args="load lrm_camera_drivers/split_bb2 bumblebee_nodelet_manager $(arg bond)"
			output="screen"
			respawn="true" />

	</group>

</launch>
